@import "tailwindcss";


@layer base {
    @font-face {
      font-family: 'Marine-Regular';
      src: local('Arial'),
           url('/fonts/marine.ttf') format('truetype');
      font-weight: normal;
      font-style: normal;
      font-display: swap;
    }
    @font-face {
      font-family: 'Marine-Bold';
      src: local('Arial Bold'),
           url('/fonts/marine.ttf') format('truetype');
      font-weight: bold;
      font-style: normal;
      font-display: swap;
    }
    @font-face {
      font-family: 'Marine-Black';
      src: local('Arial Black'),
           url('/fonts/marine.ttf') format('truetype');
      font-weight: 900;
      font-style: normal;
      font-display: swap;
    }
  
    body {
      @apply font-sans; /* Aplicar la fuente base al cuerpo */
    }
    
    .font-marineRegular {
      font-family: 'Marine-Regular', Arial, sans-serif;
    }
    
    .font-marineBold {
      font-family: 'Marine-Bold', 'Arial Bold', sans-serif;
      font-weight: bold;
    }
    
    .font-marineBlack {
      font-family: 'Marine-Black', 'Arial Black', sans-serif;
      font-weight: 900;
    }
  }